header{
    text-align: center;
    margin: 50px 0px 50px 0px;
    font-size: 30pt;

}


.backimg {
    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.img-continer{
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 300px;
    border: solid 1px black;

}

.line1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 100px;
}
.line1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 100px;

}
.line1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 100px;

}


.puzzlepiece {
    position: absolute;
    /* z-index: 1;
    margin: -3px;
    padding: 2px;
    width: 24%;
    height: 30%; */
}


.timmer-box{
    text-align: center;
    margin-top: 100px;
}

#timer{
    font-size: 20pt;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    font-size: 15pt;
    background-color:  #6699ff;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
