
.backimg {
    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.img-continer{
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 300px;
}

.line1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 100px;
}
.line1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 100px;

}
.line1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 100px;

}


.puzzlepiece {
    position: absolute;
    /* z-index: 1;
    margin: -3px;
    padding: 2px;
    width: 24%;
    height: 30%; */
}
